
@font-face {
    font-family: "Pixel";
    src: url("../../assets/fonts/Pokemon\ Classic.ttf");
}
.green:hover{
    color: greenyellow!important;
}
.red:hover{
    color: #DE4C6F!important;
}
h3{
    font-family: "Pixel"!important;
}
h5{
    font-family: "Pixel"!important;
}
h6{
    font-family: "Pixel"!important;
}
.back{
    background: linear-gradient(36deg, #50E0F8 8%, #62B2CC 60%)!important;
}
.bar{
    justify-content: right;
}
.title{
    padding-right: 250px;
}
.cursor{
    cursor:pointer;
    color: white;
}
.text-decorator-none{
    text-decoration: none;
}
