
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.green:hover{
    color: greenyellow!important;
}
.red:hover{
    color: #DE4C6F!important;
}
h3{
    font-family: 'Press Start 2P', cursive!important;
}
h5{
    font-family: 'Press Start 2P', cursive!important;
}
h6{
    font-family: 'Press Start 2P', cursive!important;
}
.back{
    background: linear-gradient(36deg, #50E0F8 8%, #62B2CC 60%)!important;
}
.bar{
    justify-content: right;
}
.title{
    padding-right: 25vh;
    
}
.cursor{
    cursor:pointer;
    color: white;
}
.text-decorator-none{
    text-decoration: none;
}
