@font-face {
    font-family: "Minecraft";
    src: url("../../components/assets/fonts/Minecraft.ttf");
}

.img{
    width: 70px;
}
.caixa{
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/b8/2f/28/b82f28a7e9c8fcb3868d3d94652c107c.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.titulo{
    color: white !important;
    font-weight: bold !important;
    text-shadow: 4px 2px 1px grey;
    
}
.botao{
    border-color: black !important;
    background-color: white !important;
    color: black !important;
    font-weight: bold !important;
}
.postagem{
    background-color: white;
}