.topo{
    margin-top: 20px;
    text-align: center;
}
*{
    font-family: 'Press Start 2P', cursive;
}
.btnFinalizar{
    background-color: #50b051!important;
    color: white!important;
    font-weight: bold!important;
}