.box1{
    font-size: 50px;
    color: white !important;
}
.box2{
    height: 60px;
    background-color: #22589C !important;
}
.redes{
    font-size: 40px !important;
    color: white;
}
.redes2{
    font-size: 32px !important;
    padding-right: 5px;
    color: white;
}
.textos{
    color: white !important;
}
.box5{
    background-color: #328ABD !important;
    height: 120px;
}
